@{
    ViewData["title"] = "Home";
}

<h2>Simple Web App MVC</h2>
<img src="https://i.gifer.com/origin/c8/c844f331bcc99f28055d99f265b8bc0a_w200.gif" alt="alternatetext">
<div class="jumbotron">
    <h3>@ViewData["message_short"]</h3>
    <p>@ViewData["message_long"]</p>
</div>
